/* Variant Code Variation Server */
<style>
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400);
@import url(https://fonts.googleapis.com/css?family=Cormorant);
@import url(https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700);
@import url('https://fonts.googleapis.com/css?family=Mukta:wght@200;300;400;500;600,700&display=swap');
</style>

body {
    margin: auto;
}

h2 {
    font-weight: 400;
    font: 28px "Mukta";
    color: #3f5f5f;
    margin: 20px 0;
    display: block;
    text-align: center;
}

h3 {
    font-weight: 400;
    font: 24px "Mukta";
    color: #3f5f5f;
    margin: 10px 0;
}

h4 {
  margin: 0;
  font: 20px "Mukta";
  color: #3f5f5f;
  margin: 10px 0;
}

h5 {
  margin: 0;
  font-weight: 300 !important;
  font: 20px "Mukta";
  color: #5f7f7f;
}

a {
  font-weight: 400;
  font-family: "Lato";
  font-size: inherit;
  color: #3f5f5f;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
  color: #1F635E;
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

ul {
  list-style: disc;
}

table.header td {
  vertical-align: top;
}

table.header h1 {
	font-weight: 300 !important;
    font: 32px "Mukta";
    color: #3f5f5f;
    margin: 0;
    display: block;
    text-align: left;
}

table.header h3 {
    font-weight: 300 !important;
    font: 16px "Mukta";
    color: #3f5f5f;
    margin: 0;
}


/* Single column layot
************************************/
.single-column {
  width: 800px;
  margin: 20px;
}

.single-column p {
  color: #666;
  font-weight: 300;
  font: 18px "Mukta";
  line-height = 0.9em;
}

/* Double column layout
************************************/
.double-column {
	margin: 0 10%;
}


.double-column .columns {
	margin: 0 0 20px 0;
}

.double-column .leftcol {
  width: 38%;
}

.double-column .rightcol {
  width: 59%;
}

.double-column p,
.double-column li,
.double-column span {
  font-weight: 300 !important;
  font: 18px "Lato";
  color: #333;
  margin: 10px 0 16px 0;
  padding: 0;
}

.double-column li {
	margin: 4px 0 0;
}

.double-column h3 {
    font-weight: 300 !important;
    font:28px "Mukta";
    text-align: left;
    margin: 40px 0 2px;
	border-top: 1px solid #3D807B;
	border-bottom: 1px solid #ddd;
}

.double-column h4 {
  font-weight: 500 !important;
  font:22px "Mukta";
  text-align: left;
  margin: 0;
}

.double-column img {
	margin: 0 6px 0;
}

pre, code {
    font-family: Consolas, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-stretch: condensed;
    padding: 0;
	margin: 0;
	background: #fdfcfd;
	overflow-x: nowrap;
}

pre {
	margin-bottom: 16px;
    padding: 8px 6px;
	overflow-x: scroll;
	border: 1px solid #ddd;
}

code {
	color: darkred;
}

/* Variant responsive columns (2 columns across)
*******************************************/

.columns {
  display: table;
  width: 100%;
}

.columns .column:first-child {
  margin: 0;
}

.columns .column {
  	float: left;
  	display: block;
	margin-left: 3%;
}

.columns .leftcol {
  width: 31%;
}

.columns .rightcol {
  width: 62%;
}


/* End variant responsive columns
*******************************************/



/* Documentation pages
**********************************/
#doc-header {
  width: 100%;
  margin: 0 0 32px;
}

#doc-header h1 {
  display: block;
  font: 42px "Mukta";
  font-weight: 600;
  color: #3f5f5f;
  margin: 20px 0 0 0;
}

#doc-header h1 span.amp {
  font-family: "Mukta";
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
#doc-header h3 {
  display: block;
  font: 18px "Mukta";
  font-weight: 400;
  margin: 0;
  color: #3f5f5f;
}

/* Table of content */
/* This doesn't work because stuck div doesn't scroll.
#toc {
  position: sticky;
  top: 100px;
  overflow-y:scroll;
  overflow-x:hide;
}
*/
#toc h2 {
  display: inline-block;
  font: 28px "Mukta";
  font-weight: 300 !important;
  color: #3f5f5f;
  margin: 4px 0 14px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #aaa;
}

#toc h2 span.underlined {
  position: relative;
  top: 6px;
  display: inherit;
  font: inherit;
  font-weight: inherit;
  color: inherit;
}

#toc tr.toc-h1 td,
#toc tr.toc-h1 a {
  padding: 0;
  font: 18px "Lato";
  font-weight: 500 !important;
  vertical-align: top;
}

#toc tr.toc-h2 td,
#toc tr.toc-h2 a {
  padding: 0;
  font: 16px "Lato";
  font-weight: 400 !important;
  vertical-align: top;
}


#toc tr.toc-h3 td,
#toc tr.toc-h3 a {
  padding: 0;
  font: 16px "Lato";
  font-weight: 300 !important;
  vertical-align: top;
}

#toc tr.toc-h1 a,
#toc tr.toc-h2 a,
#toc tr.toc-h3 a {
  padding-left: 10px;
  display: block;
}

#toc td {
  color: #222;
}

#toc tr.toc-h1 td {
  padding-top: 14px;
}

#toc tr.toc-h2 td {
  padding-top: 10px;
}

#toc tr.toc-h3 td {
  padding-top: 6px;
}

/* Documentation body column */
#doc-body {
 padding: 0 0 0 3%;
 margin: 0;
 /* border-left: 1px solid #999; */
}

@media only screen and (max-width: 640px) {
  #doc-body {
    padding: 0;
    border-left: none;
  }
}
#doc-body h1 {
  display: inline-block;
  font: 36px "Mukta";
  font-weight: 400 !important;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #aaa;
}

#doc-body h2 {
  display: block;
  font: 24px "Mukta";
  font-weight: 500 !important;
  margin: 0 0 4px;
  border-bottom: 1px solid #ddd;
}

#doc-body h3 {
  display: block;
  font: 20px "Mukta";
  font-weight: 500 !important;
  margin: 4px 0;
}

#doc-body h1 span.underlined {
  position: relative;
  top: 7px;
  display: inherit;
  font: inherit;
  font-weight: inherit;
  color: inherit;
}
#doc-body h2 span.underlined {
  position: relative;
  top: 7px;
  display: inherit;
  font: inherit;
  font-weight: inherit;
  color: inherit;
}

#doc-body .indent {
  margin-left: 26px;
}

#doc-body p,
#doc-body li {
  font: 20px "Cormorant";
  font-weight: 300;
  color: #222;
}

#doc-body li {
  margin: 6px 0;
}

#doc-body a {
  font: 20px "Cormorant";
  color: #3f5f5f;
  text-decoration: underline;
  text-decoration-style: dotted;
}

#doc-body a i.fa {
  font-size: 14px;
}

span.tombstone {
font-size: 20px;
  color: #666;
  margin-right: 10px;
}

h2 code {
  font-size: 20px;
}

/* Documentation tables */
table.table,
table.table-reference {
  border-collapse: collapse;
  margin: 12px 0;
  border: 1px solid #ddd;
	background: #fff;
}

table.table tr:nth-child(odd) {
  background-color: #fcfcfc;
}

table.table th,
table.table th p,
table.table td,
table.table td p,
table.table td li,
table.table-reference th,
table.table-reference th p,
table.table-reference td,
table.table-reference td p,
table.table-reference td li {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  font-family: Lato;
  border: 1px solid #efefef;
  text-align: left;
}

table.table th p,
table.table td p {
	border: none;
}

table.table th {
  background: #eee;
  font-weight: 500;
  padding: 4px 10px;
}

table.table td {
  vertical-align: top;
}

table.table th:first-child {
  border-left: none;
}

table.table-reference th {
  background: #DFEBEA;
  font-weight: 400;
  padding: 8px;
  border-left: 1px solid #666;
  color: #555;
}
table.table-reference th:first-child {
  border-left: none;
}

table.table-reference td.subhead {
  background: #fafafa;
  font-weight: 400;
  padding: 8px;
  border-left: 1px solid #ddd;
  color: #555;
}

table.table-reference td {
  padding-left: 20px;
}

table.table-reference td.subhead:first-child {
  border-left: none;
}

table.table-reference td pre.code {
  border: none;
  background: inherit;
}

table.table td.code,
table.table td span.code,
table.table-reference td.code,
table.table-reference td span.code {
  font-family: Consolas, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: inherit;
  white-space: nowrap;
}




.variant-subhead {
	margin-left: 5%;
}

.variant-subhead p,
.variant-subhead li {
	font-weight: 400 !important;
}


/* Variant responsive grid (3 columns across)
   Generated with http://www.responsivegridsystem.com.
**********************************************/
.variant-grid-section {
  clear: both;
  padding: 0 0 10px;
  margin: 2%;
  border-bottom: 1px solid #eee;
}

/*  COLUMN SETUP  */
.variant-grid-col {
  display: block;
  float:left;
  height: 100%;
  margin: 1% 0 1% 0.5%;
  padding: 0 1%;
	text-align: center;
}
.variant-grid-col:first-child { margin-left: 0; }

/*  GROUPING  */
.variant-grid-group:before,
.variant-grid-group:after { content:""; display:table; }
.variant-grid-group:after { clear:both;}

/*  GRID OF THREE  */
.variant-grid-span_3_of_3 { width: 100%; }
.variant-grid-span_2_of_3 { width: 66.13%; }
.variant-grid-span_1_of_3 { width: 32.26%; }

@media only screen and (max-width: 640px) {
  .variant-grid-section { margin: 0; }
  .variant-grid-group:before,
  .variant-grid-group:after { display:block; }
  .variant-grid-col {  margin: 1% 0 1% 0%; float: none;}
  .variant-grid-span_3_of_3, .variant-grid-span_2_of_3, .variant-grid-span_1_of_3 { width: 100%; }
}

/* End variant responsive grid
*******************************************/


/* Don't leave space at top. */
#primary { margin: 0; }

/* Pull down a bit when navigating to page anchors, to account for the
   sticky header */
.variant-header-offset {
    display: block;
    margin: -90px 0 0 0;
    padding: 90px 0 0 0;
    width: 100%;
}

/* Buttons
*******************************************/
button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #E8602E;
	opacity: 0.7;
    font: 14px "Mukta";
    font-weight: 600 !important;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	opacity: 0.6;
}

button.standard-button {
  border: 3px solid #E8602E;
  border-radius: none;
  box-shadow: none;
  padding: 12px 24px;
  margin: 0 6px;
  background-color: rgba(232,96,46, 0.4);
  text-transform: none;
  cursor: pointer;
  font: 18px "Mukta";
  font-weight: 600 !important;
}

button.standard-button:hover {
  text-decoration: underline;
  background-color: rgba(232,96,46, 0.4);
  box-shadow: none;
}

.single-column span.pipe,
.double-column span.pipe {
	color: #ccc;
	margin: 0 8px;
}


/* Newsroom
************************************/
div#variant-newsroom .variant-columns {
  border-top: 1px solid #aaa;
  margin-top: 10px;
  padding: 6px 0 0;
}

div#variant-newsroom .variant-leftcol {
  width: 40%;
}
div#variant-newsroom .variant-rightcol {
  width: 55%;
}

div#variant-newsroom h2 {
  font-weight: 600 !important;
}
div#variant-newsroom .variant-columns h3 {
  margin: 0;
  text-align: left;
  font: 36px "Barlow";
  font-weight: 600 !important;
  color: #3D807B;
  line-height: 1;
}

div#variant-newsroom .variant-columns h4 {
  margin: 0 0 4px;
  text-align: left;
  font: 18px "Barlow";
  font-weight: 500 !important;
}

div#variant-newsroom .variant-columns h4 a {
  font: inherit;
  color: #333;
}

div#variant-newsroom .variant-columns h5 {
  font: 16px "Barlow";
  font-weight: 400 !important;
  color: #999;
  margin: 0 0 14px;
  padding: 0;
}

div#variant-newsroom p,
div#variant-newsroom p a,
div#variant-newsroom li {
  font: 16px "Barlow";
  color: #666;
  margin: 2px 0 14px;
  padding: 0;
}


/*
********** Landing Pages ***********/
/* get */
#post-3892 .entry-content {
  margin: 0;
}

#variant-get #band-img {
  background-image: url(/wp-content/uploads/2017/11/macbook-variant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  margin: 0;
  padding: 60px 0 0 0;
}

#variant-get #band-img p {
  font: 50px "Barlow Semi Condensed";
  color: #fff;
  font-weight: 300 !important;
  margin: 0 0 24px 32px;
  width: 60%;
}

#variant-get .buttons {
  margin: 60px 0 0 0;
  width: 100%;
  text-align: center;
}

#variant-get #band-2 {
  margin: 0;
  padding: 60px 10%;
  background: #efefee;
}

#variant-get .variant-columns h2 {
  font-weight: 400 !important;
  font: 32px "Barlow Semi Condensed";
  color: #3D807B;
  display: inline-block;
  text-align: left;
  width: 100%;
}
#variant-get .variant-leftcol {
  width: 47%;
  padding: 0;
}
#variant-get .variant-rightcol {
  width: 47%;
  padding: 0 0 0 5%;
}

#variant-get .variant-leftcol p,
#variant-get .variant-rightcol p {
  font-weight: 300 !important;
  font: 18px "Barlow";
  margin: 4px 0;
  padding: 0;
  color: #222;
}

#variant-get button {
  border: 2px solid #fff;
  background-color: rgba(200,200,200, 0.75);
  color: #dd0000;
  border-radius: none;
  padding: 8px 24px;
  margin: 0 12px 0 0;
  text-transform: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600 !important;
  transition: all 500ms linear;
}

#variant-get button:hover {
  background-color: rgba(200,200,200, 0.6);
  border-color: #eee;
}

#variant-get .buttons a {
  font: 16px "Titillium Web";
  font-weight: 600 !important;
}

/*
 * highlight.js styles snagged from docs.scala-lang.org
 * We had to prepend everything with span.
 */
/* Clear all pre and code styles so that highlight.js work property */

th code,
h3 code {
    font-size: 16px;
	background: transparent;
}

code.hljs {
  font-family: 'Consolas';
  display: inline-block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  white-space: pre;
  min-width: 100%;
}

span.hljs-comment,
span.hljs-quote {
  color: #998;
  font-style: italic;
}

span.hljs-keyword,
span.hljs-selector-tag,
span.hljs-subst {
  color: #333;
  font-weight: bold;
}

span.hljs-number,
span.hljs-literal,
span.hljs-variable,
span.hljs-template-variable,
span.hljs-tag .hljs-attr {
  color: #008080;
}

span.hljs-string,
span.hljs-doctag {
  color: #da322f;
}

span.hljs-title,
span.hljs-section,
span.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

span.hljs-subst {
  font-weight: normal;
}

span.hljs-type,
span.hljs-class .hljs-title {
  color: #2f8ad2;
  font-weight: bold;
}

span.hljs-tag,
span.hljs-name,
span.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

span.hljs-regexp,
span.hljs-link {
  color: #859a00;
}

span.hljs-symbol,
span.hljs-bullet {
  color: #990073;
}

span.hljs-built_in,
span.hljs-builtin-name {
  color: #2f8ad2;
}

span.hljs-meta {
  color: #93a1a1;
  font-weight: bold;
}

span.hljs-deletion {
  background: #fdd;
}

span.hljs-addition {
  background: #dfd;
}

span.hljs-emphasis {
  font-style: italic;
}

span.hljs-strong {
  font-weight: bold;
}
