/* Variant Code Variation Server */
<style>
@import url('https://fonts.googleapis.com/css?family=Fira+Code:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta:wght@200;300;400;500;600;700&display=swap');
</style>

body {
    margin: auto;
}

h1 {
    font-weight: 400;
    font: 28px "Mukta";
    color: #3f5f5f;
    margin: 20px 0;
    display: block;
    text-align: left;
}

h2 {
    font-weight: 400;
    font: 28px "Mukta";
    color: #3f5f5f;
    margin: 20px 0;
    display: block;
    text-align: left;
}

h3 {
    font-weight: 400;
    font: 24px "Mukta";
    color: #3f5f5f;
    margin: 10px 0;
}

h4 {
  margin: 0;
  font: 20px "Mukta";
  color: #3f5f5f;
  margin: 10px 0;
}

h5 {
  margin: 0;
  font-weight: 300 !important;
  font: 20px "Mukta";
  color: #5f7f7f;
}

a {
  font-weight: 400;
  font-family: "Mukta";
  font-size: inherit;
  color: #3f5f5f;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
  color: #1F635E;
  text-decoration: underline;
  text-decoration-style: dotted;
}

ul {
  list-style: disc;
}

table.header td {
  vertical-align: top;
}

table.header h1 {
	font-weight: 300 !important;
    font: 32px "Mukta";
    color: #3f5f5f;
    margin: 0;
    display: block;
    text-align: left;
}

table.header h3 {
    font-weight: 300 !important;
    font: 16px "Mukta";
    color: #3f5f5f;
    margin: 0;
}

table.header img.logo {
  float:left;
  margin:2px;
  cursor: pointer;
  width: 80px;
  z-index: 9999;
}

/* Single column layot
************************************/
.single-column {
  width: 800px;
  margin: 20px;
}

.single-column p {
  color: #666;
  font-weight: 300;
  font: 18px "Mukta";
  line-height = 0.9em;
}

/* Double column layout
************************************/
.double-column {
	margin: 0 10%;
}


.double-column .columns {
	margin: 0 0 20px 0;
}

.double-column .leftcol {
  width: 38%;
}

.double-column .rightcol {
  width: 59%;
}

.double-column p,
.double-column li,
.double-column span {
  font-weight: 300 !important;
  font: 18px "Lato";
  color: #333;
  margin: 10px 0 16px 0;
  padding: 0;
}

.double-column li {
	margin: 4px 0 0;
}

.double-column h3 {
    font-weight: 300 !important;
    font:28px "Mukta";
    text-align: left;
    margin: 40px 0 2px;
	border-top: 1px solid #3D807B;
	border-bottom: 1px solid #ddd;
}

.double-column h4 {
  font-weight: 500 !important;
  font:22px "Mukta";
  text-align: left;
  margin: 0;
}

.double-column img {
	margin: 0 6px 0;
}

pre, code {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    font-stretch: condensed;
    padding: 0;
	margin: 0;
	background: #fdfcfd;
	overflow-x: nowrap;
}

pre {
	margin-bottom: 16px;
    padding: 8px 6px;
	overflow-x: scroll;
	border: 1px solid #ddd;
}

code {
	color: darkred;
}

/* Variant responsive columns (2 columns across)
*******************************************/

.columns {
  display: table;
  width: 100%;
}

.columns .column:first-child {
  margin: 0;
}

.columns .column {
  	float: left;
  	display: block;
	margin-left: 3%;
}

.columns .leftcol {
  width: 31%;
}

.columns .rightcol {
  width: 62%;
}


/* End variant responsive columns
*******************************************/



/* Documentation pages
**********************************/
#doc-header {
  width: 100%;
  margin: 0 0 32px;
}

#doc-header h1 {
  display: block;
  font: 42px "Mukta";
  font-weight: 600;
  color: #3f5f5f;
  margin: 20px 0 0 0;
}

#doc-header h1 span.amp {
  font-family: "Mukta";
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
#doc-header h3 {
  display: block;
  font: 18px "Mukta";
  font-weight: 400;
  margin: 0;
  color: #3f5f5f;
}

*/
#toc h2 {
  display: inline-block;
  font: 28px "Mukta";
  font-weight: 300 !important;
  color: #3f5f5f;
  margin: 4px 0 14px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #aaa;
}

#toc h2 span.underlined {
  position: relative;
  top: 6px;
  display: inherit;
  font: inherit;
  font-weight: inherit;
  color: inherit;
}

#toc tr.toc-h1 td,
#toc tr.toc-h1 a {
  padding: 0;
  font: 18px "Mukta";
  font-weight: 500 !important;
  vertical-align: top;
}

#toc tr.toc-h2 td,
#toc tr.toc-h2 a {
  padding: 0;
  font: 16px "Mukta";
  font-weight: 400 !important;
  vertical-align: top;
}


#toc tr.toc-h3 td,
#toc tr.toc-h3 a {
  padding: 0;
  font: 16px "Mukta";
  font-weight: 300 !important;
  vertical-align: top;
}

#toc tr.toc-h1 a,
#toc tr.toc-h2 a,
#toc tr.toc-h3 a {
  padding-left: 10px;
  display: block;
}

#toc td {
  color: #222;
}

#toc tr.toc-h1 td {
  padding-top: 14px;
}

#toc tr.toc-h2 td {
  padding-top: 10px;
}

#toc tr.toc-h3 td {
  padding-top: 6px;
}

/* Documentation body column */
#doc-body {
 padding: 0 0 0 3%;
 margin: 0;
 /* border-left: 1px solid #999; */
}

@media only screen and (max-width: 640px) {
  #doc-body {
    padding: 0;
    border-left: none;
  }
}
#doc-body h1 {
  display: inline-block;
  font: 36px "Mukta";
  font-weight: 400 !important;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #aaa;
}

#doc-body h2 {
  display: block;
  font: 24px "Mukta";
  font-weight: 500 !important;
  margin: 0 0 4px;
  border-bottom: 1px solid #ddd;
}

#doc-body h3 {
  display: block;
  font: 20px "Mukta";
  font-weight: 500 !important;
  margin: 4px 0;
}

#doc-body h1 span.underlined {
  position: relative;
  top: 7px;
  display: inherit;
  font: inherit;
  font-weight: inherit;
  color: inherit;
}
#doc-body h2 span.underlined {
  position: relative;
  top: 7px;
  display: inherit;
  font: inherit;
  font-weight: inherit;
  color: inherit;
}

#doc-body .indent {
  margin-left: 26px;
}

#doc-body p,
#doc-body li {
  font: 18px "Cormorant";
  font-weight: 200;
  color: #333;
}

#doc-body li {
  margin: 6px 0;
}

#doc-body a {
  font: 18px "Cormorant";
  color: #3f5f5f;
  text-decoration: underline;
  text-decoration-style: dotted;
}

#doc-body a i.fa {
  font-size: 14px;
}

span.tombstone {
font-size: 20px;
  color: #666;
  margin-right: 10px;
}

h2 code {
  font-size: 20px;
}

/* Documentation tables */
table.table,
table.table-reference {
  border-collapse: collapse;
  margin: 12px 0;
  border: 1px solid #ddd;
	background: #fff;
}

table.table tr:nth-child(odd) {
  background-color: #fcfcfc;
}

table.table th,
table.table th p,
table.table td,
table.table td p,
table.table td li,
table.table-reference th,
table.table-reference th p,
table.table-reference td,
table.table-reference td p,
table.table-reference td li {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  font-family: Mukta;
  border: 1px solid #efefef;
  text-align: left;
  padding: 2px;
}

table.table th p,
table.table td p {
	border: none;
}

table.table th {
  background: #eee;
  font-weight: 500;
  padding: 4px 10px;
}

table.table td {
  vertical-align: top;
}

table.table th:first-child {
  border-left: none;
}

table.table-reference th {
  background: #DFEBEA;
  font-weight: 400;
  padding: 8px;
  border-left: 1px solid #666;
  color: #555;
}
table.table-reference th:first-child {
  border-left: none;
}

table.table-reference td.subhead {
  background: #fafafa;
  font-weight: 400;
  padding: 8px;
  border-left: 1px solid #ddd;
  color: #555;
}

table.table-reference td {
  padding-left: 20px;
}

table.table-reference td.subhead:first-child {
  border-left: none;
}

table.table-reference td pre.code {
  border: none;
  background: inherit;
}

table.table td.code,
table.table td span.code,
table.table-reference td.code,
table.table-reference td span.code {
  font-family: Consolas, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: inherit;
  white-space: nowrap;
}

#doc-body p.fig-footer {
  margin: 0 0 20px;
  font: 16px "Mukta";
}
